@tailwind base;
@tailwind components;
@tailwind utilities;

/* google inter font */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&family=Sora:wght@100..800&display=swap');

.inter {
  font-family: "Inter", sans-serif;
}

.input:has(> input[disabled]), .input-disabled, .input:disabled, .input[disabled] {
  border-color: oklch(0.9 0 0);
}

/* nav menu */
@media (hover:hover) {
  .menu li > *:not(ul, .menu-title, details, .btn):active,
  .menu li > *:not(ul, .menu-title, details, .btn).active,
  .menu li > details > summary:active {
    --tw-bg-opacity: 1;
    background-color: transparent;
    --tw-text-opacity: 1;
    color: oklch(0.77 0.19 314.02);
    border-bottom: 1px solid oklch(0.77 0.19 314.02);
    border-radius: 0;
    }
  }

.ab-banner {
  background-image: url('./assets/about/ab-banner.jpg');
  background-repeat: no-repeat;
}