.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
  overflow: visible;
  padding: 20px;
}

.swiper-button-prev:after {
  border: 5px solid white;
  padding: 12px 15px;
  font-size: 15px;
  border-radius: 50px;
  color: white;
  background-color: #59007C;
  margin-left: 5px;
}
.swiper-button-next:after {
  border: 5px solid white;
  padding: 12px 15px;
  font-size: 15px;
  border-radius: 50px;
  color: white;
  background-color: #59007C;
  margin-right: 5px;
}